%h1.heading
  = "Editing order %s" % @order.id
  
- semantic_form_for(@order) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', orders_path