%h1.heading
  = 'New Order'
  
- semantic_form_for(@order) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', orders_path